.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.table-responsive {
    display: table;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
